@import url('font/stylesheet.css');

html,
body {
    font-family: 'Gowun Dodum';
    font-size: 62.5%;
    letter-spacing: -0.02rem;
    color: #111;
}

body {
    position: relative;
    line-height: 1.5;
}

h3 {
    font-size: 8rem;
    font-family: 'Shilla_Culture(B)';
    text-align: center;
}

.title h5 {
    font-size: 5.2rem;
    font-weight: bold;
}

.inner {
    max-width: 1400px;
    width: calc(100% - 40px);
    margin: 0 auto;
}



/* header */
.header {
    width: 100%;
    background-color: #000;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1.8rem;
}

.header .logo {
    padding-block: 12px;
}

.header .logo img {
    height: 100%;
}

.header .nav .gnb {
    height: 100%;
    display: flex;
}

.header .nav .gnb>li {
    width: 190px;
    padding-inline: 20px;
    text-align: center;
    position: relative;
}

.header .nav .gnb>li>a {
    line-height: 80px;
    text-align: center;
    font-weight: bold;
    height: 100%;
    display: block;
}

.header .mall {
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .mall img {
    display: block;
    width: 20px;
    margin-right: 4px;
}

.header .depth_02 {
    z-index: 9;
    height: 212px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px;
    color: #111;

    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.header .depth_02 li a {
    font-size: 1.6rem;
}

.header .depth_02.down {
    transform: scaleY(1);
}

.header .depth_02::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: #C69C6D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.header .nav .gnb>li:hover>a {
    color: #C69C6D;
}

.header .nav .gnb>li:hover .depth_02 {
    color: #fff;
}

.header .nav .gnb>li:hover .depth_02::before {
    opacity: 1;
    visibility: visible;
}

.depth_02 li a {
    display: block;
    padding-bottom: 12px;
}

.depth_02 li a:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 4px;
}

.header .nav_bg {
    width: 100%;
    height: 400px;
    background-color: #fff;
    z-index: 5;
    position: absolute;
    top: 80px;
    left: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.header .nav_bg.down {
    transform: scaleY(1);
}

.header .nav_bg span {
    position: absolute;
    left: -99999px;
}




/* footer */
.footer {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.footer .f_logo {
    padding-top: 40px;
}

.footer .f_logo img {
    width: 25.7rem;
}

.footer ul {
    width: 100%;
    margin-top: 8px;
    display: flex;
    align-content: center;
    justify-content: center;
    column-gap: 2rem;
}

.footer strong {
    display: block;
    color: #C69C6D;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 4px;
}

.footer .copyright {
    display: block;
    padding-block: 32px;
    padding-bottom: 40px;
}

.btn_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: fixed;
    bottom: 60px;
    right: 40px;
    z-index: 99;
}

.cs {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    font-size: 2.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C69C6D;
    color: #fff;
}

.top_btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2.5px solid #4F2700;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
}

.top_btn.show {
    opacity: 1;
    visibility: visible;
}

.top_btn.color_wh {
    background-color: #f8f0e5d0;
}


/* 반응형 */
@media screen and (max-width:1400px) {

    html,
    body {
        font-size: 56.25%;
    }
}